*{
    font-family: Arial, Helvetica, sans-serif;    
}

body{
    -webkit-animation: cambiarColor 2s linear infinite alternate both;
    animation: cambiarColor 2s linear infinite alternate both;
}

h1{
    color: #012a4a;
}

h2{
    color: #01497c;
}

h3{
    color: #2c7da0;
    font-size: medium;
}

h4{
    color: #89c2d9;    
}

div{
    background-color: white;
    width: 60%;
    border-style: solid;
    border-width: 30px;
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: white;
    border-left-color: white;
    box-shadow: 2px 2px 4px rgba(0,0,0,.6);
    margin: auto;
    -webkit-animation: sombra 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: sombra 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes sombra {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

@keyframes sombra {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

@-webkit-keyframes cambiarColor {
    0% {
      background: #19dcea;
    }
    100% {
      background: #b22cff;
    }
}

@keyframes cambiarColor {
    0% {
      background: #19dcea;
    }
    100% {
      background: #b22cff;
    }
}
  